<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ofertas del Día</title>
  </head>
  <body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#" (click)="resetearVista()">Ofertas del Día</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" (click)="resetearVista()">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="activarFiltroPorPrecio()">Filtrar por precio</a>
            </li>
          </ul>
          <app-buscar (buscar)="onBuscar($event)"></app-buscar>
        </div>
      </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container mt-4">
      <app-filtrar-precio
        *ngIf="mostrarFiltroPorPrecio"
        (filtrarPorPrecio)="onFiltrarPorPrecio($event)"
      ></app-filtrar-precio>
      <app-ofertas [searchQuery]="searchQuery" [rangoPrecios]="rangoPrecios"></app-ofertas>
    </div>
  </body>
</html>
